* {
    box-sizing: border-box;
}

:root {
    --cor-fundo-principal: rgb(0, 1, 31);
    --cor-fundo-secundario: rgb(0, 2, 58);
    --cor-fundo-elemento: rgba(0, 3, 88, 1);
    --cor-texto-principal: white;
    --cor-texto-secundario: black;
    --cor-destaque: bisque;
}
@keyframes animacaoinimigo1 {
    0% {
        rotate: 0deg;
        scale: 1.2;
    }
    25% {
        rotate: 7deg;
        scale: 1.25;
    }
    75% {
        rotate: -7deg;
        scale: 1.3;
    }
    100% {
        rotate: 0deg;
        scale: 1.2;
    }
}
body {
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
    font-family: "Quicksand", sans-serif;
}
@media (min-width: 1px) and (max-width: 1250px){
    .fundo {
        display: none;
    }
    .fundoelemento {
        display: none;
    }
    .fundocontainer {
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(var(--cor-fundo-elemento) 3.3px, transparent 0);
        background-size: 80px 80px;
        background-position: -5px -5px
    }
}
@media (min-width: 1251px) and (max-width: 5000px) {
    .fundocontainer {
        display: none;
    }
}
@keyframes animacaotexto {
    0% {
        text-shadow: var(--cor-destaque) 0px 0px 0px;
    }
    50% {
        text-shadow: var(--cor-destaque) 0px 0px 10px;
    }
    100% {
        text-shadow: var(--cor-destaque) 0px 0px 0px;
    }
}
.personagem {
    border-radius: 10px;
    border: 0;
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto-principal);
    width: 16rem;
    pointer-events: fill;
    height: 4rem;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}
.personagem:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-secundario);
    box-shadow: var(--cor-destaque) 0px 0px 50px;
}
.selecionarpersonagem {
    display: flex;
    gap: 40px;
}
.titulo {
    animation: animacaotexto 3s linear infinite;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    font-family: "Righteous", sans-serif;
}
#descricao-personagem {
    transition: 0.05s ease-in-out;
    width: 90%;
    font-size: 20px;
}
.fundo {
    z-index: -1;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: calc(100vw - 2%);
    height: 100vh;
    row-gap: 100px;
    column-gap: 120px;
    margin-left: 2%;
}
.fundoelemento {
    transition: 0.25s ease-in-out;
    border-radius: 100%;
    height: 1vh;
    width: 1vh;
    background-color: var(--cor-fundo-elemento);
}
.descricaodiv {
    margin-top: 20px;
    justify-items: center;
    width: 50vw;
    height: 39vh;
    border-radius: 10px;
    background-color: var(--cor-fundo-secundario);
}
.dialogotexto {
    font-size: 50px;
    margin: 0;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}
.dialogo {
    padding: 15px;
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;    
    justify-self: center;
    width: calc(97vw - 60px);
    height: 40vh;
    overflow-y: hidden;
    background-color: var(--cor-fundo-principal);
    animation: animacaodiv 10s linear infinite;
}
.dialogo, .dialogotexto {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.bodydialogo {
    display: block;
}
.body_luta {
    padding-top: 20px;
}
.informacaopersonagem {
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    width: calc((100%/3) - 4vw);
    padding: 10px;
    transition: 0.5s ease-in-out;
    height: 35vh;
    background-color: var(--cor-fundo-principal);
    animation: animacaodiv 5s linear infinite;
    padding-left: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

div::-webkit-scrollbar {
    width: 30px;
}

div::-webkit-scrollbar-track {
    background: var(--cor-fundo-principal);
    border-radius: 10px;
    background-clip: content-box;
}

div::-webkit-scrollbar-thumb {
    background: var(--cor-destaque);
    border-radius: 13px;
    border: 10px solid transparent;
    background-clip: content-box;
}

#informacoes {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    gap: 2vw;
}

.fundocontainer1 {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--cor-fundo-elemento) 3.3px, transparent 0);
    background-size: 80px 80px;
    background-position: -5px -5px
}
@keyframes animacaodiv {
    0% {
        box-shadow: var(--cor-destaque) 0px 0px 0px 0px;
    }
    50% {
        box-shadow: var(--cor-destaque) 0px 0px 25px 10px;
    }
    100% {
        box-shadow: var(--cor-destaque) 0px 0px 0px 0px;
    }
}
.horizontal {
    display: flex;
}
.divbotao {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-elemento);
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    height: 10%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.divbotao:hover {
    background-color: var(--cor-fundo-elemento);
    color: var(--cor-destaque);
}
#hp, #cm, #arma {
    font-weight: bold;
    font-size: 30px;
    margin: 12px;
}
#nome-personagem {
    margin: 0;
    font-weight: bold;
    font-size: 38px;
}
.item {
    font-size: 30px;
}
.item-titulo {
    font-size: 30px;
    margin: 0;
}
.item-descricao {
    font-size: 20px;
}
.imagem-container {
    background-color: var(--cor-fundo-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--cor-destaque);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 81.5%;
    width: 100%;
    animation: animacaodiv 3s linear infinite;
}
.inimigoimagem1 {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    animation: animacaoinimigo1 3s ease-in-out infinite;
    scale: 1.2;
}
.div_vertical {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div_horizontal {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}
.nomeinimigo {
    text-align: center;
    font-size: 28px;
    padding: 10px;
    margin-top:0;
    animation: animacaodiv 3s linear infinite;
    border: 10px solid var(--cor-destaque);
}
.log-inimigo {
    background-color: var(--cor-fundo-principal);
    font-size: 20px;
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    padding: 10px;
    width: 65%;
    animation: animacaodiv 3s linear infinite;
    min-height: 100%;
}
.botao_luta {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-destaque);
    border: 10px solid var(--cor-destaque);
    border-radius: 20px;
    width: 17.5%;
    height: 100%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.botao_luta1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.botao_luta2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.botao_luta:hover, .botao_luta1:hover, .botao_luta2:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-elemento);
}
.status_jogador {
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    width: 30%;
    height: 110%;
}
.informacaopersonagem_luta {
    font-size: 35px;
    margin: 5px;
}
.descricao-botoes_luta {
    font-size: 30px;
    height: 110%;
    width: 69%;
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--cor-fundo-principal);
    overflow-x: hidden;
    overflow-y: auto;

}
.botao-dialogo {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    bottom: 50px;
    right: 60px;
    transition: 0.15s ease-in-out;
    transform: scale(5);
}

.div_vertical_inimigo {
    width: 32%;
    gap: 0;
}

.div_horizontal_cabecalho {
    justify-content: space-between;
    justify-self: center;
    width: 100%;
}

.nomeinimigo_esquerda {
    width: 70%;
    border-top-left-radius: 20px;
}

.nomeinimigo_direita {
    width: 30%;
    border-top-right-radius: 20px;
}

.div_vertical_controles {
    height: 45vh;
    margin-top: 2vh;
    width: 95vw;
}

.div_horizontal_botoes {
    justify-content: space-around;
    height: 30%;
    width: 100%;
    margin-bottom: 20px;
    gap: 0;
}

.div_horizontal_status {
    justify-content: space-around;
    height: 50%;
    width: 97.5%;
    margin-left: 22px;
}

.div_horizontal_log {
    display: flex;
    justify-content: space-around;
    width: 94.5%;
    height: 53vh;
    gap: 0;
}
.item_luta {
    font-size: 30px;
    margin: 0;
}
.item-titulo_luta {
    font-size: 30px;
    margin-top: 0;
}
.item-descricao_luta {
    font-size: 20px;
}
.itemdiv_luta {
    border-radius: 20px;
    transition: 0.25s ease-in-out;
    padding: 10px;
}
.itemdiv_luta:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-elemento);
    box-shadow: var(--cor-destaque) 0px 0px 50px;
    font-weight: bold;
}
