:root {
    --cor-fundo-principal: rgb(0, 1, 31);
    --cor-fundo-secundario: rgb(0, 2, 58);
    --cor-fundo-elemento: rgba(0, 3, 88, 1);
    --cor-texto-principal: white;
    --cor-texto-secundario: black;
    --cor-destaque: bisque;
}
body {
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-principal);
    color: var(--cor-texto-principal);
    font-family: "Quicksand", sans-serif;
}
@media (min-width: 1px) and (max-width: 1250px){
    .fundo {
        display: none;
    }
    .fundoelemento {
        display: none;
    }
    .fundocontainer {
        z-index: -1;
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(var(--cor-fundo-elemento) 3.3px, transparent 0);
        background-size: 80px 80px;
        background-position: -5px -5px
    }
}
@media (min-width: 1251px) and (max-width: 5000px) {
    .fundocontainer {
        display: none;
    }
}
@keyframes animacaotexto {
    0% {
        text-shadow: var(--cor-destaque) 0px 0px 0px;
    }
    50% {
        text-shadow: var(--cor-destaque) 0px 0px 10px;
    }
    100% {
        text-shadow: var(--cor-destaque) 0px 0px 0px;
    }
}
.personagem {
    border-radius: 10px;
    border: 0;
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto-principal);
    width: 16rem;
    pointer-events: fill;
    height: 4rem;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    font-family: "Lexend Deca", sans-serif;
}
.personagem:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-secundario);
    box-shadow: var(--cor-destaque) 0px 0px 50px;
}
.selecionarpersonagem {
    display: flex;
    gap: 40px;
}
.titulo {
    animation: animacaotexto 3s linear infinite;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    font-family: "Righteous", sans-serif;
}
#descricao-personagem {
    transition: 0.05s ease-in-out;
    width: 90%;
    font-size: 20px;
}
.fundo {
    z-index: -1;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: calc(100vw - 2%);
    height: 100vh;
    gap: 5vmin;
    margin-left: 2%;
}
.fundoelemento {
    transition: 0.25s ease-in-out;
    border-radius: 100%;
    height: 1vh;
    width: 1vh;
    background-color: var(--cor-fundo-elemento);
}
.descricaodiv {
    margin-top: 20px;
    justify-items: center;
    width: 50vw;
    height: 39vh;
    border-radius: 10px;
    background-color: var(--cor-fundo-secundario);
}
.dialogotexto {
    font-size: 30px;
    margin: 0;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}
.dialogo {
    padding: 15px;
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    justify-self: center;
    width: calc(97vw - 60px);
    height: 40vh;
    overflow-y: hidden;
    background-color: var(--cor-fundo-principal);
    animation: animacaodiv 10s linear infinite;
}
.bodydialogo {
    display: block;
}
.informacaopersonagem {
    border: 10px var(--cor-destaque) solid;
    border-radius: 20px;
    width: calc((100%/3) - 4vw);
    padding: 10px;
    transition: 0.5s ease-in-out;
    height: 35vh;
    background-color: var(--cor-fundo-principal);
    animation: animacaodiv 5s linear infinite;
    padding-left: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.informacaopersonagem::-webkit-scrollbar {
    width: 30px;
}

.informacaopersonagem::-webkit-scrollbar-track {
    background: var(--cor-fundo-principal);
    border-radius: 10px;
    background-clip: content-box;
}

.informacaopersonagem::-webkit-scrollbar-thumb {
    background: var(--cor-destaque);
    border-radius: 13px;
    border: 10px solid transparent;
    background-clip: content-box;
}

#informacoes {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vh;
    gap: 2vw;
}

.fundocontainer1 {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--cor-fundo-elemento) 3.3px, transparent 0);
    background-size: 80px 80px;
    background-position: -5px -5px
}
@keyframes animacaodiv {
    0% {
        box-shadow: var(--cor-destaque) 0px 0px 0px 0px;
    }
    50% {
        box-shadow: var(--cor-destaque) 0px 0px 25px 10px;
    }
    100% {
        box-shadow: var(--cor-destaque) 0px 0px 0px 0px;
    }
}
.horizontal {
    display: flex;
}
.divbotao {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-elemento);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    height: 10%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.divbotao:hover {
    background-color: var(--cor-fundo-elemento);
    color: var(--cor-destaque);
}
#hp, #cm, #arma {
    font-weight: bold;
    font-size: 24px;
    margin: 12px;
}
#nome-personagem {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
}
.item {
    font-size: 16px;
}
.item-titulo {
    margin: 0;
}
.item-descricao {
    font-size: 14px;
}


